div.custom-container {
	padding: 20px;
}

div.custom-container > * {
	float: left;
}

svg.custom .node circle {
	fill: #ccc;
	stroke: #ccc;
	stroke-width: 2px;
}

svg.custom .highlighted circle {
	fill: #006837;
	stroke: #006837;
	stroke-width: 2px;
	width: 100%;
	height: 100%;
}

svg.custom .emphasized circle {
	stroke: red;
	fill: red;
	stroke-width: 5px;
}

svg.custom .node text {
	font-size: 13px;
	fill: black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #bbb;
	stroke-width: 1.5px;
}

.filters {
	width: 600px;
}

.treemap-container {
	height: 650px;
	min-width: 500px;
	margin-bottom: 10px;
	position: absolute;
	left: 610px;
}
.histogram-container {
	height: 100px;
	width: 100px;
	position: absolute;
	left: 620px;
	bottom: 705px;
}
.eventbox-container {
	height: 650px;
	min-width: 500px;
	margin-bottom: 10px;
	position: absolute;
	left: 610px;
	bottom: -500px;
}